.bottomsection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  border: 2px solid $color-additional;
  border-radius: 20px;
  margin-top: 15px;
  background-color: $color-white-darkest;
}

img {
  width: 200px;
  height: 200px;
}

.result-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 250px;
  padding: 10px;
  border-radius: 100%;
  border: 2px solid $color-additional;
  margin: 10px;
  color: $color-primary;
  &_span {
    color: $color-active;
  }
}